In [22]:
import numpy as np
import pandas as pd

In [23]:
df=pd.read_csv('/Users/qingmo/Desktop/任务数据/test2.csv')

In [24]:
df.head()

        uid  CT    type  money  remain        memo
0  19127579   0    task    1.0    12.7   我完成《投资理财》
1  19130082   0    task    1.0     2.5   我完成《安全理财》
2  19130056   0    task    1.0     2.5   我完成《投资理财》
3  19130059   0    task    1.0     2.5   我完成《安全理财》
4  18788622   0  remain    0.2    17.1  完成后续《理财工具》

In [25]:
BF=df.loc[df['CT'] ==9]

In [26]:
BF.head()

          uid  CT    type  money  remain        memo
842  18943933   9  remain    0.2    40.7  完成后续《理财工具》
843  15367065   9  remain    0.2    57.8  完成后续《理财工具》
844  19102246   9  remain    0.2    30.2    完成后续《气象》
845  15574785   9  remain    0.2   234.9  完成后续《理财工具》
846  18732445   9  remain    0.2    10.0  完成后续《理财工具》

In [27]:
BF.describe()

                uid      CT        money       remain
count  1.318000e+03  1318.0  1318.000000  1318.000000
mean   1.876057e+07     9.0     0.821700    14.754651
std    1.758980e+06     0.0     0.478465    38.579692
min    4.875900e+04     9.0     0.200000     0.200000
25%    1.903926e+07     9.0     1.000000     3.000000
50%    1.912136e+07     9.0     1.000000     6.500000
75%    1.912827e+07     9.0     1.000000    11.700000
max    1.913095e+07     9.0    13.000000   756.600000